@import url('https://fonts.googleapis.com/css?family=Arimo');

h1,
h2,
h3,
h4,
h5,
h6,
p,
span, {
	font-family: 'Arimo', sans-serif;
}

/* .wrapper {
	margin: 0 auto;
} */

/* .wrapper img {
	margin-left: 300px;
	margin-top: 15px;
} */

#game {
	/*top: 100px;*/
	/* margin: 10px auto; */
	/* width: 850px; */
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px;
	background-color: whitesmoke;
}

.btn {
	margin: 5px;
}

img {
	margin: 5px;
}